@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
  font-family: 'Noto Sans Thai', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #333;
}

#loadingIcon{
  width: 10vh;
  filter: drop-shadow(0px 0px 10px white)
  drop-shadow(0px 0px 10px white)
  drop-shadow(0px 0px 10px white);
  animation: spin 1.5s linear infinite;
}

#loadicon-con{
  padding: 1rem;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  position: fixed;
  justify-self: center;
  z-index: 1000;
  background-color: rgba(199, 199, 199, 0.51);
  backdrop-filter: blur(10px);        
  border-radius: 50%;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


header {
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;  color: white;
  justify-content: start ;
  display: flex;
  /* background: linear-gradient(180deg,rgb(255, 255, 255)80%, rgba(255, 37, 37, 0)100%); */
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.space{
  width: 100%;
  height: 18vh;
}

#logo{
  height: 100px;
  user-select: none;
  filter: drop-shadow(0 0 2px white)
  drop-shadow(0 0 2px white)
  drop-shadow(0 0 2px white)
  drop-shadow(0 0 2px white)
  drop-shadow(0 0 2px white)
  drop-shadow(0 0 2px white)
}

.main-container {
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 140px);
  margin-left: 2rem;
}

.category-menu {
  max-height: 70vh;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 150px;
  padding: 1rem;
  color: white; 
  justify-self: right;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 25px;
  backdrop-filter: blur(20px);          
}

.category-menu h3{
  padding: 1rem 0;
  justify-self: center;
  color: white;
  user-select: none;
  text-align: center;
  border-radius: 16px;
  color: #333;
  filter: drop-shadow(0 0 4px white)
  drop-shadow(0 0 4px white)
  drop-shadow(0 0 4px white);
}

.category-menu ul{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.category-menu li {
  box-sizing: border-box;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 25px;
  white-space: nowrap;
  font-weight: 500;
  background: linear-gradient(45deg,rgb(0, 126, 199)10%,#64b3d3 100%);
  transition: .2s ease;
  user-select: none;
  text-align: center;
  color: white;
  outline: 4px solid white;
}

.category-menu li:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px white;
}


#allcatebtn{
  background: linear-gradient(45deg,rgb(0, 126, 199)10%,#64b3d3 100%);
  color: white;
  border-radius: 25px;
  border: none;
  outline: none;
  transition: transform .2s ease;
  outline: 4px solid white;
}

#allcatebtn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px white;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 95vh;
}

.ai-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0 3rem 0;
}

.ai-section svg{
  margin: 0 1rem;
  transition: transform .2s ease;
}

.ai-section svg:hover{
  transform: scale(1.2);
  filter : drop-shadow(0 0 4px rgb(243, 255, 69))
  drop-shadow(0 0 4px rgb(243, 255, 69))
  drop-shadow(0 0 4px rgb(243, 255, 69));
}

.ai-section input[type=text] {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 50%;
  margin-right: 10px;
}

.ai-section input[type=text]:focus {
  border: 1px solid #ccc;
  outline: none;
}

.ai-section button {
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: .2s ease;
}

.ai-section button:hover{
  background-color: #64b3d3;
  color: white;
  box-shadow:0 0 10px white;
  transform: scale(1.1);
}

.items-container {
  padding: 1rem 0 2rem 2rem;
  width: 100%;
  height: 92%;
  display: grid;
  margin-top: -2vh;
  grid-template-columns: repeat(5,14rem);
  overflow-y: auto;
  overflow: scroll;
  gap: 2rem;
  z-index: 0;
  padding-bottom: 5rem;
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, transparent);
}

.items-container::-webkit-scrollbar-thumb { background-color: white; border-radius: 2px; height: 20px; }
.items-container::-webkit-scrollbar { width: 10px;}

.item-card {
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1 / 1.6;  
  box-shadow: 4px 4px 20px #989898;
  background-color: white;
}

.item-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit:contain;
  border-radius: 8px;
}

.item-card input[type=number] {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 5px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 2rem 5rem 2rem 5rem;
  margin-top: 10px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 5px;
  z-index: 4;
}

.footer-con{
  background-color: rgba(68, 68, 68, 0.7);
  padding: .5rem .5rem 1.2rem .5rem;
  border-radius: 25px;
  justify-items: center;
  align-items: center;
}

footer button {
  margin: 1rem 1rem 0 1rem;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: transform .2s ease;
}

footer button:hover{
  transform: scale(1.05);
  color: white;
  background-color: #64b3d3;
  box-shadow:0 0 10px white;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left:0; top:0; width:100%; height:100%;
  justify-content: center;
  align-items: center;
}

.modal-footer button:hover{
  background-color: #64b3d3  ;
  color: white;
}

#cartList{
  padding: 1rem 2rem;
}

.modal-content {
  padding: 15px;
  border-radius: 12px;
  max-height: 90%;
  overflow-y: auto;
  background-color: #ffffff;
  min-width: 30vw !important;
  max-width: 70%;
  box-shadow: 4px 4px 10px black;
}

.modal-content::-webkit-scrollbar-thumb { background-color: rgb(63, 63, 63); border-radius: 2px; height: 20px;}
.modal-content::-webkit-scrollbar { width: 10px;}

.modal-content div{
  user-select: none;
  padding-left: .5rem;
}

#existingItemsContainer div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: .5rem;
  margin-top: 1rem;
}

#existingItemsContainer div button{
  margin: 0 1rem;
  padding: .2rem 1.5rem;
}

.editItemBtn:hover{
  background-color: #64b3d3;
  color: white;
}

.deleteItemBtn:hover{
  background-color: #d63b4d;
  color: white;
}

.additem-con{
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin: 0 .2rem;
}

#manageForm h4{
  justify-self: center;
  margin: 1rem 0;
}

#loadPurchasesBtn{
  width: 20%;
  display: flex;
  justify-self: center;
  justify-content: center;
}

#loadPurchasesBtn:hover{
  background-color: #64b3d3;
  color: white;
}

#addItemBtn:hover{
  background-color: #64b3d3;
  color: white;
}

.modal-content button{
  background-color: #ffffff;  
  border-radius: 20px;
  width: 15%;
  padding: 5px;
  border: none;
  transition: .2s ease;
  box-shadow: 4px 4px 4px rgb(175, 175, 175);
}

.modal-content input{
  border-radius: 10px;
  padding: 5px;
  margin-top: 1rem;
  border: 1px solid #ccc;
}i

.modal-content button:hover{
  background-color: #64b3d3;
  color: white;
}

.manageForm button:hover{
  background-color: #64b3d3;
  color: white;
}

.form-container{
  display: flex;
  justify-content: center;
}

.modal-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px;
}

.total{
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  font-weight: bold;
}

#aiResults input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} 

#aiResults label{
  user-select: none;
}

#aiResults input[type="checkbox"]:checked {
  margin-right: .2rem;
  background-color: #64b3d3;
  border-color: 4px solid white;
  outline: 2px solid rgb(136, 136, 136);
  border-radius: 50%;
}

.backwrap {
  background: linear-gradient(180deg ,#113243,#1d5a79);
  background-size: 100% 100%;
  width: 100%;  
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Shapes & Animation
*/
.back-shapes {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.back-shapes img {
  opacity: 0.2;
  position: absolute;
  width: 1.5%;
}

.floating {
  position: absolute;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.floating.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('./assets/lemon-regular.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}
.floating.square {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./assets/carrot-solid-full.svg") ; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}
.floating.triangle {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./assets/drumstick-bite-solid-full.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}
.floating.cross {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./assets/cart-shopping-solid-full.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(-55deg);
  }
  50% {
    transform: translateY(300%) rotate(55deg);
  }
  100% {
    transform: translateY(0%) rotate(-55deg);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(300%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}


/* Responsive */

@media (min-width: 2500px) {

  body{
    overflow: hidden;
  }

  .items-container{
    width: calc(100vw - 160px);
    grid-template-columns: repeat(9,14rem);
  }

  header {
    font-size: 1.3rem;
    flex-direction: row;
    align-items: center;  
  }

  .ai-section{
    transform: scale(1.5);
  }

  .ai-section input[type=text] {
    width: 50%;
    }

  .ai-section button {
    width: 5%;
  }

  #logo{
    height: 10vh;
    margin: 2rem;
  }
  
}

@media (min-width: 1440px) and (max-width: 1600px){

  .items-container{
    grid-template-columns: repeat(5,14rem);
  }
  
}

@media (min-width: 768px) and (max-width: 1200px){
  header {
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
  }

  main{
    width: 100vw;
  }

  .ai-section input[type=text] {
    width: 70%;
    margin-bottom: 0.5rem;
  }

  .ai-section button {
    width: 30%;
  }

  #existingItemsContainer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #existingItemsContainer div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #existingItemsContainer div div button{
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    margin: .2rem;
  }

  .form-container{
    display: flex;
    flex-direction: row;
  }

  .form-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .items-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: .5vh;
  }

  .modal-footer button{
    min-width: 50px;
  }

  .item-card h3{
    font-size: 15px;
  }

  .footer-con {
    flex-direction: column;
    align-items: center;
    padding: 1vh;
  }

  footer button {
    margin: 0 .2rem;
  }
}

@media (min-width: 375px) and (max-width: 768px){

  html{
    overflow: hidden;
  }

  header{
    flex-direction: column;
    width: 100vw;
  }

  .ai-section{
    height: 10vh;
  }

  .ai-logo{
    width: 20%;
  }

  #userInput{
    margin: 0 1rem;
    font-size: 10px;
  }

  #sendToAI{
    
    margin: 1rem 1rem;
    padding: 5px 10px;
    font-size: 10px;
    white-space: nowrap;
  }
  
  #logo{
    height: 10vh;;
    object-fit: contain;
  }

  .space{
    height: 20vh;
  }

  .ai-section > *{
    transform: scale(1.2);
    margin: 0 3rem;
  }

  .category-menu{
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 95vw;
    padding: 0;
    overflow-x: auto;
  }

  .category-menu h3{
    font-size: 15px;
    padding: 0;
    margin: 5px;
  }

  .category-menu ul{
    width: 90vw;
    flex-direction: row;
    overflow-x: scroll;
    overflow: scroll;
    margin: 0px 4px 6px 4px;
    padding: 0;
    border-radius: 25px;
    gap: .5rem;
    scrollbar-color: none;
  }

  .category-menu li{
    min-width: 70px;
    margin: 4px 4px;
    font-size: 10px;
  }

  main{
    width: 100vw;
    padding: 5rem 0;
    margin: 0;
  }

  .main-container{
    display: flex;
    width: 100vw;
    justify-content: center ;
    align-items: center;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
  }

  .items-container{
    grid-template-columns: repeat(2, 10rem);
    width: 100vw;
    height: 65vh;
    padding: 0;
    justify-content: center;
  }

  .item-card h3{
    font-size: 15px;
  }

  .item-card p,label{
    font-size: 13px;
  }

  .item-card img{
    height: 80px;
    margin-bottom: 1rem;
  }

  footer{
    justify-content: center;
    padding: 4vh;
  }

  .footer-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .footer-con button{
    font-size: 10px;
    margin: .2rem;
    white-space: nowrap;
  }
  
  .modal-content button{
    min-width: 50px;
  }

  .form-container{
    display: flex;
    justify-content: flex-start;
  }

  #cartList li input{
    margin: 0;
  }
}